{% if paginator.total_pages > 1 %}
<nav class="pagination" role="navigation" aria-label="文章分页">
  {% if paginator.previous_page %}
    <a class="pagination__link" href="{{ paginator.previous_page_path | relative_url }}#blog">最近</a>
  {% endif %}
  <span class="pagination__page-number">{{ paginator.page }} / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a class="pagination__link" href="{{ paginator.next_page_path | relative_url }}#blog">更早</a>
  {% endif %}
</nav>
{% endif %}
